:root {
  --onyx: #393d3fff;
  --platinum: #eadedaff;
  --sonic-silver: #757780;
}

html,
body,
#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  color: var(--onyx);
  background-color: var(--platinum);
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mid-container {
  height: 100%;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
  border-radius: 5px;
  border: 1px solid var(--onyx);
}

.internal-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.internal-container > input,
button {
  margin: 20px;
  width: 200px;
}

.main-title-container {
  width: 100%;
  border-bottom: 1px solid var(--sonic-silver);
}
.main-title {
  margin-left: 25px;
}

/* Category Navigation */

.nav {
  justify-content: space-around;
}

.category-tab {
  width: 100%;
}

.active-category-tab {
  width: 100%;
  border-bottom: 1px solid var(--sonic-silver);
}

.nav-link {
  color: var(--sonic-silver);
}

.active-category-tab > .nav-link,
.nav-link:hover {
  color: var(--onyx);
}

/* Form */

select {
  margin-top: 5px;
}

.equal-sign {
  font-size: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.input-dropdown-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Responsive Media Queries
* https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp 
*
/* <= 600px */
@media only screen and (max-width: 600px) {
  .mid-container {
    width: 300px;
  }

  .category-tab {
    padding: 3px;
  }

  .active-category-tab {
    padding: 3px;
  }

  .internal-container {
    flex-direction: column;
  }
}
/* >= 600px */
@media only screen and (min-width: 600px) {
  .mid-container {
    width: 400px;
  }

  .category-tab {
    padding: 12px;
  }

  .active-category-tab {
    padding: 12px;
  }

  .internal-container {
    flex-direction: column;
  }
}
/* >= 768px */
@media only screen and (min-width: 768px) {
  .mid-container {
    width: 500px;
  }

  .category-tab {
    padding: 12px;
  }

  .active-category-tab {
    padding: 12px;
  }

  .internal-container {
    flex-direction: column;
  }
}
/* >= 992px */
@media only screen and (min-width: 992px) {
  .mid-container {
    width: 800px;
  }

  .category-tab {
    padding: 12px;
  }

  .active-category-tab {
    padding: 12px;
  }

  .internal-container {
    flex-direction: row;
  }
}
/* >= 1200px */
@media only screen and (min-width: 1200px) {
  .mid-container {
    width: 1000px;
  }

  .category-tab {
    padding: 12px;
  }

  .active-category-tab {
    padding: 12px;
  }

  .internal-container {
    flex-direction: row;
  }
}
/*
*
*/
